body {
    text-align: center;
    background-color: #ffebee;
    font-family: Arial, sans-serif;
}

#heart {
    width: 150px;
    cursor: pointer;
    margin-top: 50px;
}

#message {
    color: #d50000;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

